@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes busMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-bus {
  animation: busMove 10s linear infinite; /* 10 সেকেন্ডে বাস চলবে */
}
